<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cloud sample</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
</head>
<body>
<section class="section">
    <div class="container">
        <h1 class="title">
            Todos
        </h1>
        <p class="subtitle">
            Database stored todo list
        </p>

        <div class="block">
            <h4>New</h4>
            <form action="/database" method="post">
                <div class="field has-addons">
                    <p class="control is-expanded">
                        <input class="input is-fullwidth" placeholder="We should do ..." type="text" name="description" />
                    </p>
                    <p class="control">
                        <input type="submit" value="New" class="button is-primary has-addons-right"/>
                    </p>
                </div>
            </form>
        </div>


        <div class="container">
            <h4>Todos</h4>
            <table class="table">
            {{#each todos}}
                <tr>
                    <th>{{id}}</th>
                    <th>{{description}}</th>
                </tr>
            {{/each}}
            </table>
        </div>

        <div class="field is-grouped">
            <p class="control">
                <a href="/index.html" class="button is-link is-light">Go home</a>
            </p>
        </div>
    </div>

</section>
</body>
</html>s